.typingText {
  display: inline-block;
  min-height: 1.3em;
  font-family: var(--common-font-family);
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s infinite;
  font-weight: 300;
}

@keyframes blink {

  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}